extends partial/layout

block page-head
    include partial/header.jade

block left-sidebar
    include mixins/cards
    +user-card()

block main-content
    .content-wrap
        .archive-content
            include partial/archives.jade
            +posts()

            include mixins/pagination
            +indexPagination()
    
block script
    script(src=url_for('js/index.min.js'))
