extends partial/layout

block page-head
    include partial/header.jade

block left-sidebar
    include mixins/cards
    +user-card()

block main-content
    .post-wrap.content-wrap.index-post-wrap
        include mixins/post
        +posts()

        include mixins/pagination
        +indexPagination()
    
block script
    script(src=url_for('js/index.min.js'))
