extends partial/layout

block nav
	include partial/nav

block sidebar
	include mixins/sidebar
	+postSideBar(page)

block container
	include mixins/post
	+post(page)
	include mixins/pagination

block footer
	.page-footer
		+postPagination(page)

block script
	script(src=url_for('js/post.min.js'))