extends partial/layout



block left-sidebar
    include mixins/cards
    +directory-card(page.content)

block main-content
    .post-detail-wrap.content-wrap
        include mixins/post
        +post(page)
            
        .page-footer
            include mixins/pagination
            +postPagination(page)

block script
    script(src=url_for("js/post.min.js"))
