.copyright {
  padding: 10px 10px 10px 20px;
  margin: 50px 0 0;
  list-style: none;
  color: #666;
  border-left: 0.25rem solid #f0ad4e;
  background: #fbfcfc;
  font-size: 14px;

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: #333;
    }
  }

  &__title {
    display: inline-block;
    font-weight: bold;
    margin-right: 1em;
  }
}
