mixin user-card()
	.card.user-card
		.user-image
			img.img-fluid(src=url_for('img/head.jpeg'))
		.user-info
			.user-name kitwang chan
			.user-other frontend/UI designer
		.overview
			span
				i
					!= site.posts.length
				<br/> 日志
			span.m
				i
					!= site.categories.length
				<br/> 分类
			span
				i
					!= site.tags.length
				<br/> 标签

mixin directory-card(pageContent)
	.card.directory-card
		.header 文章目录
		.directory
			!= toc(pageContent, { 'class': 'nav', 'list_number': true })