mixin postPagination()
    .post-pagination
        - if(page.prev != undefine || page.prev != null)
            a(href=url_for(page.prev.path))
                i.ion-arrow-left-c
                != '  ' + page.prev.title
        - if(page.next)
            a(href=url_for(page.next.path))
                != page.next.title + '  '
                i.ion-arrow-right-c

mixin indexPagination()
    - if(page.total >= 2)
        nav.pagination.index-pagination
            - if (page.prev !== 0)
                a.item(href = url_for(page.prev === 1 ? page.base : page.prev_link))
                    i.ion-ios-arrow-left

            a.item(href = '/' + page.base, class = page.current === 1 ? 'active' : '') 1

            - if (page.total >= 2 && page.total < 6)
                - for (var index = 2; index <= page.total; index++) {
                    a.item(href = url_for('page/' + index) class = page.current === index ? 'active' : '')
                        != index
                - }
            - else if (page.total !== 1)
                a.item(href = url_for(page.current_url + 'page/' + page.total), class = page.current === page.total ? 'active' : '')
                    != page.total

            - if (page.next !== 0)
                a.item(href = url_for(page.next_link))
                    i.ion-ios-arrow-right
