mixin mainSideBar()
	.main-side-bar

		div.header
			//- p 爱好上班，特长加班
			//- p 求职中
			//- p catslove28@163.com
			p 这里好像会有个搜索

		nav.side-bar-nav
			a.item(href='/')
				//- i.ion-help-buoy
				span 首页
			a.item.m(href='/archives')
				//- i.ion-nuclear
				span 归档
			a.item.last.unopen(href='/tags')
				//- i.ion-social-github
				span 标签

mixin postSideBar()
	- var tabStatus = (toc(page.content) == '')
	#post-side-bar.post-side-bar
		.tab-content
			#panel1.side-bar-panel(class = tabStatus ? '' : 'active')
				!= toc(page.content, { 'class': 'nav', 'list_number': true })
			#panel2.side-bar-panel(class = tabStatus ? 'active' : '')
				ul.post-side-list
					li
						div.head
							img.img-fluid(src=url_for('img/head.jpg'))
					li.overview
						a
							div
								!= site.posts.length
							div 日志
						a.m.unopen
							div
								!= site.categories.length
							div 分类
						a
							div
								!= site.tags.length
							div 标签
					li
						a.item(href='/')
							i.ion-help-buoy
							span Home
						a.item.m(href='/archives')
							i.ion-nuclear
							span Archives
						a.item(href='//github.com/kitwon')
							i.ion-social-github
							span Github
