mixin categorie(categories) 
    - categories.each(function(categorie) {
        a(href=url_for(categorie.path))
            != categorie.name
    - })
    
mixin posts()
    - var year;
    - page.posts.each(function(item) {
        - var postYear = date(item.date, 'YYYY');
        
        - if(postYear !== year)
            - year = postYear;
            
            div.archives-year.archive-item
                != year
        
        .post-item.archive-item
            span.time #{full_date(item.date, 'MM [-] DD')}
            a(href=url_for(item.path)) #{item.title}
    - })
