nav.main-nav
	div.container
		a.btn.menu
			span.icon-bar
		button.pull-right.nav-button
			div.graph-pos
				div.sun
			div
				div Day
				div 2016/04/10
div.side-bar
	ul.col-xs-6.col-md-4
		li
			div.head
				img.img-responsive(src=url_for('img/head.jpg'))
		li
			a.item(href='/Circle_Talk')
				i.ion-help-buoy
				span Home
			a.item.m(href='/Circle_Talk/archives')
				i.ion-nuclear
				span Archives
			a.item(href='//github.com/kitwon')
				i.ion-social-github
				span Github
		li
			div.cp
				div ©   2015 - 2016   Kit
				div
					span power by 
					span
						a(href='//hexo.io') hexo.
					span Design By Kit.
		//- each value, key in theme.menu
		//- 	li
		//- 		a(href=value)
		//- 			!= key
		

	div.black-cover